@font-face{
	font-family:'lobster';
	src:url('fonts/Lobster-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'ubuntu-m-r';
	src:url('fonts/UbuntuMono-R.ttf') format('truetype');
}
@font-face{
	font-family:'aclonica';
	src:url('fonts/Aclonica.ttf') format('truetype');
}