body{
	background:#15AF4D;
	margin:0;
}
.header-wrapper{
	background:#F5F5F5;
	display:block;
	width:100%;
	line-height:80px;
	height:80px;
	text-align:center;
}
.header-wrapper h1{
	display:inline;
	padding:0;
	font-family:'lobster';
	color:#15AF4D;
	text-shadow:1px 2px 2px #0F5024;
}
.header-wrapper h1:hover{
	color:#177E36;
	cursor:pointer;
}
.navigasi{
	background:#15AF4D;
}
#navigasi{
	margin:0;
	padding:0;
	list-style:none;
	height:40px;
	border-bottom:4px solid #177E36;
	box-shadow:0 2px 5px 0 rgb(23,126,54);
}
#navigasi li{
	border-right:1px solid #177E36;
	float:left;
	font-family:'ubuntu-m-r';
}
#navigasi li:hover{
	background:#177E36;
}
#navigasi li a{
	display:inline-block;
	padding:0 10px;
	text-decoration:none;
	color:white;
	line-height:40px;
}
#navigasi .active{
	background:#177E36;
}
.main-wrapper{
	display:block;
	margin:10px;
}
.main-wrapper  table{
	font-family:'ubuntu-m-r';
	border-collapse: collapse;
	background:white;
}
.main-wrapper table td{
	font-size:20px;
}
.main-wrapper table tr{
	line-height:25px;
}
.main-wrapper table tr:nth-child(even){
	background:#bdc3c7;
}
.main-wrapper table #top{
	background:#7f8c8d;
}
.main-wrapper table #top p{
	transform:rotate(270deg);
}