body{
    margin: 0;
}
nav{
    background: #727272;
    line-height: 60px;
    padding: 0 20px;
    -webkit-box-shadow:0 1px 2px #000000;
    -moz-box-shadow:0 1px 2px #000000;
    box-shadow:0 1px 2px #000000;
}
nav h2{
    margin: 0;
    color: white;
    font-family: tahoma;
}
#bagian-kiri{
    display: inline-block;
    float: left;
    width: 600px;
    margin: 10px;
    height: auto;
    
}
#bag-tulisan,
#mesin-emo,
#generasikan{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    -webkit-box-shadow:0 1px 2px #000000;
    -moz-box-shadow:0 1px 2px #000000;
    box-shadow:0 1px 2px #000000;
}
#komentar{
    border: 2px dashed #088b3a;
    margin: 0;
    padding: 5px;
}
#bag-tulisan input{
    margin: 2px 0;
    width: 200px;
}
#tulisan{
    width: 100%;
    max-width: 100%;
    min-height: 70px;
}
#ubahtulisan{
    margin: 2px 0;
    float: right;
}
#tabel-emo{
    border-collapse: collapse;
}
#tabel-emo th{
    background: black;
    color: white;
    padding: 0 10px;
    line-height: 30px;
    text-transform: uppercase;
}
#tabel-emo th,
#tabel-emo td{
    border: 1px solid black;
}
#tambah{
    display: block;
    margin: 5px auto;
    background: black;
    color: white;
    border: 0;
    padding: 0 20px;
    line-height: 30px;
    cursor: pointer;
}
#cetakkode{
    display: block;
}
pre{
    display: inline-block;
    float: left;
    width: 100%;
}
pre:before{
    padding-left:10px;
    line-height: 40px;
    display: block;
    color: white;
    text-transform: uppercase;
}
pre[type="js"]{
    border-left: 5px solid #009318;
}
pre[type="js"]:before{
    content: "js";
    background: #009318;
}
code{
    display: block;
    overflow: auto;
}
#bagian-kanan{
    display: inline-block;
    float: right;
}
#emot-list table{
    border-collapse: collapse;
}

#emot-list table th{
    line-height: 30px;
    padding: 0 8px;
    background: #009318;
    color: white;
}
#emot-list table td{
    padding: 0 10px;
}
#emot-list table td:nth-child(2){
    text-align: center;
}
#emot-list table th,
#emot-list table td{
    border: 1px solid #2c2525;
}