#bagian-kiri{
    display: inline-block;
    float: left;
    width: 45%;
    height: auto;
}
#komentar{
    width: 400px;
}
#tulisan{
    width: 400px;
    height: 200px;
}
pre{
    display: inline-block;
    float: left;
    width: 500px;
    -webkit-box-shadow:0 1px 1px 1px black;
    -moz-box-shadow:0 1px 1px 1px black;
    box-shadow:0 1px 1px 1px black;
}
pre:before{
    padding-left:10px;
    line-height: 40px;
    display: block;
    color: white;
    text-transform: uppercase;
}
pre[type="html"]{
    border-left: 5px solid #21813c;
}
pre[type="html"]:before{
    content: "html";
    background: #21813c;
}
pre[type="css"]{
    border-left: 5px solid #574d4b;
}
pre[type="css"]:before{
    content: "css";
    background: #574d4b;
}
pre[type="js"]{
    border-left: 5px solid #014eba;
}
pre[type="js"]:before{
    content: "js";
    background: #014eba;
}
code{
    display: block;
    overflow: auto;
}
#bagian-kanan{
    display: inline-block;
    float: right;
}
#emot-list table{
    border-collapse: collapse;
}

#emot-list table th{
    background: #009318;
    color: white;
}
#emot-list table th,
#emot-list table td{
    border: 1px solid #2c2525;
}