pre{
    display: block;
    width: 90%;
    height: auto;
    overflow: auto;
    -webkit-box-shadow:0 1px 1px #545454;
    -moz-box-shadow:0 1px 1px #545454;
    box-shadow:0 1px 1px #545454;
    position: relative;
}
pre:before{
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    padding: 0 10px;
    display: block;
}
pre[type="html"]{
    border-left: 4px solid #2e76d5;
}
pre[type="css"]{
    border-left: 4px solid #24a741;
}
pre[type="javascript"]{
    border-left: 4px solid #be3535;
}
pre[type="php"]{
    border-left: 4px solid #595959;
}

pre[type="html"]:before{
    content: "html";
    background: #2e76d5;
}
pre[type="css"]:before{
    content: "css";
    background: #24a741;
}
pre[type="javascript"]:before{
    content: "javascript";
    background: #be3535;
}
pre[type="php"]:before{
    content: "php";
    background: #595959;
}
code{
    display: block;
    padding: 5px;
}
label{
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    background: #dddddd;
    text-transform: uppercase;
    font-family: courier;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label{
    background: #494949;
    color: white;
    webkit-box-shadow:0 1px 1px black;
    moz-box-shadow:0 1px 1px black;
    box-shadow:0 1px 1px black;
}