body{
	background:#15AF4D;
	margin:0;
}
.header-wrapper{
	background:#F5F5F5;
	display:block;
	width:100%;
	line-height:80px;
	height:80px;
	text-align:center;
}
.header-wrapper h1{
	display:inline;
	padding:0;
	font-family:'lobster';
	color:#15AF4D;
	text-shadow:1px 2px 2px #0F5024;
}
.header-wrapper h1:hover{
	color:#177E36;
	cursor:pointer;
}
.navigasi{
	background:#15AF4D;
}
#navigasi{
	margin:0;
	padding:0;
	list-style:none;
	line-height:40px;
	height:40px;
	border-bottom:4px solid #177E36;
	box-shadow:0 2px 5px 0 rgb(23,126,54);
}
#navigasi li{
	display:inline-block;
	padding:0 10px;
	border-right:1px solid #177E36;
	float:left;
	font-family:'ubuntu-m-r';
}
#navigasi li:hover{
	background:#177E36;
}
#navigasi a{
	text-decoration:none;
	color:white;
}
#navigasi .active{
	background:#177E36;
}