body{
	margin: 0;
}
#luar{
	display: block;
}
#status-halaman{
	display: inline-block;
	width: 90%;
	padding: 2px;
	height: 6px;
	position: fixed;
	background: white;
	bottom: 5px;
	margin: 0 3%;
	z-index: 1;
}
#status-halaman div{
	background: #3498db;
	height: 100%;
	width: 0;
}
#peringatan{
	display: inline-block;
	line-height: 30px;
	padding: 0 15px;
	color: white;
	background: #e74c3c;
}
#menu-top{
	top: 0;
	display: inline-block;
	width: 100%;
	height: 70px;
	background: white;
	-webkit-box-shadow:0 1px 2px black;
	-moz-box-shadow:0 1px 2px black;
	box-shadow:0 1px 2px black;
	z-index: 1;
}
#menu-top h1{
	display: inline-block;
	margin: 0 20px;
	line-height: 70px;
}
.aktif,
.aktif:hover{
	background: #2c3e50;
	color: white;
}
#menu{
	margin: 0 20px;
	float: right;
}
#menu li{
	min-width: 50px;
	text-align: center;
	display: inline-block;
	line-height: 70px;
	padding: 0 10px;
	float: right;
}
#menu li:hover{
	background: #95a5a6;
}
#profil{
	width: 100%;
	height: auto;
	background: #1abc9c;
}
#profil p{
	display: inline-block;
	width: 300px;
	text-align: justify;
}
#profil p:first-letter{
	font-size: 60px;
	float: left;
	width: 20px;
}
#skill{
	display: block;
	clear: both;
	height: auto;
	background: #3979C1;
	padding: 10px;
	text-align: center;
}
#html,
#css,
#js,
#php,
#as,
#cpp,
#java{
	display: inline-block;
	width: 250px;
	height: 280px;
	margin: 5px;
	padding: 10px;
	border:1px solid;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#skill div #total{
	display: inline-block;
	width: 200px;
	padding: 5px;
	margin: 10px 0;
	height: auto;
	background: white;
	position: relative;
}
#total div{
	display: block;
	background: black;
	width: 0;
	height: 30px;
}
#total span{
	position: absolute;
	right: 20px;
	top:10px;
	color: #3498db;
}
#skill img{
	height: 200px;
	width: auto;
}
#portfolio{
	display: block;
	width: 100%;
	background: #e67e22;
}
#portfolio h2{
	text-align: center;
	display: block;
	background: #95a5a6;
	line-height: 40px;
	margin: 0;
	border:2px dashed white;
}
#portfolio div{
	display: inline-block;
	width: 200px;
	height: 200px;
	border:1px solid;
}