.main{
  display:block;
  width:45%;
  margin:10px;
}
h4{
  display:block;
  text-align:center;
  margin:0;
  background:#2ecc71;
  line-height:30px;
}
#papan{
	width:256px;
	height:256px;
    background:green;
    display: inline-block;
}
input[name="cur-position"]{
  width:90%;
  display:block;
  margin:0 auto;
}
#warna{
    display: inline-block;
    width: 50px;
    height: 256px;
    background: -moz-linear-gradient(top, red,green,blue,yellow, orange);
}