body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
h3{
    margin: 0 0 10px;
    line-height: 50px;
    color: white;
    text-align: center;
    background: #2980b9;
    font-family: ubuntu-r;
}
img{
    width: auto;
    height: 100%;
}
.navbar-brand img{
    display: inline-block;
}
table{
    background: white;
}