body{
    margin: 0;
}
h1{
    display: block;
}
header{
    display:block;
    line-height:40px;
    text-align:center;
    background:black;
    color: white;
}
section{
    display: none;
    float: left;
    margin: 5px;
    outline: 1px solid;
}
.tampil{
    display: inline-block;
}
section h2{
    text-align:center;
}
section textarea{
    min-height:200px;
    min-width: 400px;
}
section input{
    display: block;
    margin: 0 auto;
}
section table{
    border-collapse:collapse;
}
section table th,
section table td{
    border:1px solid;
    line-height:25px;
}
nav{
    background: #3498db;
    color: black;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0 20px;
}
nav ul li,
nav ul li span{
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}
nav span{
    padding: 0 8px;
}
nav ul li:hover{
    background: white;
}
nav ul ul{
    display: none;
}
nav ul li:hover ul{
    display: block;
    position: absolute;
    background: #dadada;
    margin: 0;
    padding: 0;
    -webkit-box-shadow:0 2px 2px #bababa;
    -moz-box-shadow:0 2px 2px #bababa;
    box-shadow:0 2px 2px #bababa;
}
nav li li{
    display: block;
    min-width: 170px;
    margin:0;
    padding-left: 4px;
}
.item{
    display: inline-block;
    float: left;
    height: 240px;
    margin: 5px;
    overflow: auto;
}
.item table{
    width: 300px;
}
#dekrip{
    display: none;
}
#asalkataunik{
    height: 100%;
}
#jumlahacak{
    text-align: right;
}
#hasil{
    display: inline-block;
}
#nilaiacak input,
#nilaiacak button,
#nilaiacak textarea{
    display: block;
    margin: 0 auto;
}
footer{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    z-index: 2;
    text-align: center;
    line-height: 30px;
    background: white;
    -webkit-box-shadow:0 -1px 3px black;
    -moz-box-shadow:0 -1px 3px black;
    box-shadow: 0 -1px 3px black;
}