body{
	margin: 0;
	background: black;
}
.outer{
	width: 500px;
	height: auto;
	background: white;
	margin: 0 auto;
}
#header{
	display: block;
	height: 100px;
	background: pink;
}
#konten{
	height: auto;
	background: blue;
	width: 100%;
}
#konten div{
	display: inline-block;
	width: 150px;
	height: 100px;
}
#k1{
	position: relative;
	background: red;
	-webkit-animation:	pindah 2s infinite;
	-moz-animation:		pindah 2s infinite;
	animation:			pindah 2s infinite;
	-webkit-animation-direction:	normal;
	-moz-animation-direction:		normal;
	animation-direction: 			normal;
}
@-webkit-keyframes pindah{
	0%{left:0;		opacity: 0.1}
	50%{left: 30%;	opacity: 1.0}
	100%{left:70%;	opacity: 0}
}
@keyframes pindah{
	0%{left:0;		opacity: 0.1}
	50%{left: 30%;	opacity: 1.0}
	100%{left:70%;	opacity: 0}
}
#k2{
	position: relative;
	background: red;
	-webkit-animation:	pindah 2s infinite;
	-moz-animation:		pindah 2s infinite;
	animation:			pindah 2s infinite;
	-webkit-animation-direction:	reverse;
	-moz-animation-direction:		reverse;
	animation-direction: 			reverse;
}
@-webkit-keyframes nyasar{
	0%{right:10%;		opacity: 0.1}
	50%{right: 50%;	opacity: 1.0}
	100%{right:75%;	opacity: 0}
}
@keyframes nyasar{
	0%{right:10%;		opacity: 0.1}
	50%{right: 50%;	opacity: 1.0}
	100%{right:75%;	opacity: 0}
}
#gambar{
	display: block;
	background: #7C15C9;
	padding: 30px;
}
#footer{
	display: block;
	height: 100px;
	background: cyan;
}
