body{
    margin: 0;
}
#s_kiri{
    display: inline-block;
    float: left;
    background: #2c3e50;
    width: 300px;
    min-height: 600px;
}
#s_kanan{
    display: inline-block;
    float: right;
    width: 300px;
    height: 400px;
    background: white;
    border: 1px dashed black;
}
#pengguna ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
}
#pengguna li{
    padding: 10px;
}
#pengguna li:hover{
    background: #bdc3c7;
}
.tak{
    display: block;
    background: black;
    width: 90%;
    height: 20px;
}